<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Nathan Portfolio</title>
	</head>
	<body class="bg-dark">
		<h1 class="text-center p-10" >Welcome To Nathan's Portfolio</h1>
	</body>
</html>